body{width: 100;
    


}

.check_container{
    border:2px whitesmoke;
    background-color: #004d99;
    /* height: 40vh; */
    max-width: 100%;
    color: rgb(235, 225, 225);
    margin: 5px;
    padding: 10px;
    
    /* align-items: center; */
    
}

.checkpicture{
    display: flex;
    gap: 13px;
    height: 20vh;
    width:90%;
    padding: 5px;
    border:15px white;

    

}

.frontcheck{
    background-color: whitesmoke;
    height: 70%;
    width:52%;
    color: black;
    padding: 10px;

}

.backcheck{
    background-color: black;
    height:70%;
    width:52%;
    /* position: relative; */
    left:16%;
    color: white;
    padding: 10px;


}

.esubmit{
    position: relative;
    left: 32%;
    top:2% ;

}


